// Bootstrap overided variables
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$primary: #da404a;
$btn-border-radius:  30px;
$btn-padding-y: 1rem;
$btn-padding-x: 2.5rem;

// Variables

// Plugins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/alert";
@import 'pretty-checkbox/dist/pretty-checkbox.min.css';

// Utility
@import "utility/animations.scss";
@import "utility/custom-reset.scss";

// Pages
@import "pages/Home.scss";
@import "pages/Login.scss";
@import "pages/Chat.scss";

// Components
@import "components/VChatContent.scss";
@import "components/VChatFooter.scss";
@import "components/VChatHeader.scss";
@import "components/VHeader.scss";
@import "components/VMessage.scss";
@import "components/VNotice.scss";
